name: LaTeX PDF generator
on: [push]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
            root_file: main.tex
            texlive_version: 2025
            latexmk_shell_escape: true
            
      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
            name: PDF
            path: "pk_template.pdf"
